@import 'tailwindcss';

@theme {
    --font-Inter: 'Inter';
    --color-background: #ffffff;
    --color-font: #222222;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@layer utilities {
    /* Hide scrollbar */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer base {
    body {
        @apply bg-background font-Inter text-slate-800;
    }
}

@layer components {
}
